!!! 5
%html
  %head
    %title To Be Married May 12th, 2013
    = css(:globals, media: 'screen')
    = css(:navigation, media: 'screen')
    = css(:content, media: 'screen')
    = css(:header, media: 'screen')
    = css(:footer, media: 'screen')
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
    %script
      window.jQuery || document.write('<script src="assets/js/jquery-1.8.2.min.js"><\/script>')
    = js(:slider)
    %link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css')

  %body
    .container
      %header
        .masthead
          .branding
            %a{ href: "/" }
              %img{ src: "/assets/images/logo.png" }
          .site-name
            TYLER COPPLE & MADISON BOLLINGER
          .site-description
            CELEBRATING PEOPLE, JESUS & FUN SINCE 2009
      %content
        #banner
        #info.hide
          something
        #story.hide
          else
      %navigation
        #navigation-wrapper
          %ul
            %li.info
              %a{ }
            %li.registry.terminating
              %a{ href: :"http://giftregistry360.com/wishlist/copple", target: "_blank"}
            %li.photos
              %a{ href: :"https://www.dropbox.com/sh/bkw7n34ohrtvinj/JfOoumhnvO", target: "_blank"}
      %footer
        -# .mission celebrating Christ, people, and fun since 2009
        -# .author
        -#   our wedding website was made by
        -#   %a{ href: "http://www.tcopp.com" } hand
